@mixin app-text-editor($theme) {
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);

    textarea {
        height: 100%;
        width: 100%;
        flex-grow: 1;
    }

    .savingButton {
        background-color: mat-color($primary);
        margin: 2% 0 2% 75% !important;
    }
}