@mixin app-documentlist($theme) {
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $icon-size: 48px;

    .mat-assoc-button {
        display: flex;
        justify-content: right;

        adf-upload-button {
            padding-left: 20px;

            #upload-multiple-files {
                width: 100%;
            }
        }
    }

    .app-docsAndViewer {
        display: flex;
        height: 93vh;
        overflow: hidden;

        .adf-toolbar-divider-doclist {
            height: 100%;

            > div {
                height: 100%;
                background: mat-color($primary);
                margin-left: 0;
            }
        }

        .app-doc-list {
            display: flex;
            flex-grow: 1;
            flex-shrink: 1;
            min-width: 50%;
            height: 100%;
            width: 100%;

            adf-toolbar {
                mat-toolbar {
                    justify-content: space-between;
                }
            }

            .mat-standard-chip.mat-chip-with-trailing-icon {
                padding: 2px;
            }

            .cell-container {
                display: block;
            }

            .mat-chip-list-wrapper {
                margin-top: -3px;
                margin-bottom: -14px;
                margin-left: -5px;
                margin-right: -5px;
                padding-top: 6px;
                overflow-x: scroll;

                .mat-chip {
                    font-size: 11px;
                    border-radius: 6px;
                }
            }

            .adf-tag-chips-delete {
                display: none;
            }

            .adf-upload-drag-area {
                flex-grow: 1;
                width: 100%;

                .upload-border {
                    display: flex;
                    height: 100%;
                    flex-direction: column;

                    adf-breadcrumb {
                        min-height: 6%;
                        max-height: 6%;
                        margin-left: 10px;

                        .adf-breadcrumb-item-chevron {
                            margin-top: 17px;
                        }

                        .adf-breadcrumb-item {
                            font-size: 16px;
                            line-height: 49px;
                        }
                    }

                    adf-document-list {
                        height: 100%;
                        flex-grow: 1;
                        overflow-y: scroll;
                        overflow-x: hidden;
                    }
                }
            }
        }
    }

    adf-info-drawer-layout,app-info-drawer {
        height: 100%;
        min-width: 50%;
        display: flex;
        flex-direction: column;

        .createNote-button {
            background-color: mat-color($primary);
            margin-top: 10%;
            margin-left: 40%;
        }

        .adf-info-drawer-layout-header {
            display: none;
        }

        .adf-info-drawer-layout-content {
            height: 100%;

            .empty-align {
                margin-bottom: 0;
                margin-top: 30%;
            }

            .app-info-drawer-tabs {
                height: 100%;

                .mat-tab-label {
                    color: mat-color($accent);
                    text-transform: none;
                    padding: 0 0px;
                    flex-grow: 1;

                    & mat-icon {
                        margin-right: 10px;
                    }

                    .mouseInteraction {
                        display: inline-flex;
                        flex-grow: 1;
                        height: 100%;
                        > * {
                            flex-grow:1;
                        }
                        .mat-icon-button {
                            color: mat-color($warn)!important;
                        }
                    }
                }

                mat-tab-header {
                    height: 54px;

                    .mat-tab-body-wrapper {
                        height: 100%;

                        .mat-tab-body {
                            height: 100%;
                            padding: 10px,0px,10px,0px;

                            .mat-tab-content {
                                height: 100%;
                                padding: 10px,0px,10px,0px;
                            }

                            .mat-tab-body-content {

                                adf-content-metadata-card {
                                    .mat-card {

                                        .mat-card-content {
                                            height: 93%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .adf-info-drawer-layout {
        box-shadow: none;

        .adf-info-drawer-layout-content {

            height: 100%;

            mat-tab-header {
                margin-bottom: 10px;
            }

            #info-drawer-content-editor {
                height: 95%;

                td-text-editor {

                    .CodeMirror {
                        min-height: 530px;
                        height: 530px;
                    }
                }
            }
        }
    }
}


