@mixin app-documentlist($theme) {
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $icon-size: 48px;


    .app-docsAndViewer {
        display: flex;
        height: 93vh;
        overflow: hidden;

        .adf-toolbar-divider-doclist {
            height: 100%;

            > div {
                width: 25%;
                height: 100%;
                background: mat-color($primary);
                opacity: 0.5;
            }
        }

        .app-doc-list {
            display: flex;
            flex-grow: 1;
            flex-shrink: 1;
            min-width: 50%;
            height: 100%;
            width: 100%;

            .adf-upload-drag-area {
                flex-grow: 1;
                width: 100%;

                .upload-border {
                    display: flex;
                    height: 100%;
                    flex-direction: column;

                    adf-breadcrumb {
                        min-height: 6%;
                        max-height: 6%;
                        margin-left: 10px;

                        .adf-breadcrumb-item-chevron {
                            margin-top: 17px;
                        }

                        .adf-breadcrumb-item {
                            font-size: 16px;
                            line-height: 49px;
                        }
                    }

                    adf-document-list {
                        height: 100%;
                        flex-grow: 1;
                        overflow-y: scroll;
                        overflow-x: hidden;
                    }
                }
            }
        }
    }

    adf-info-drawer-layout,adf-info-drawer {
        height: 100%;
        min-width: 50%;
        display: flex;
        flex-direction: column;

        .createNote-button {
            background-color: mat-color($primary);
            margin-top: 10%;
            margin-left: 40%;
        }

        .adf-info-drawer-layout-header {
            display: none;
        }

        .adf-info-drawer-layout-content {
            height: 100%;

            .adf-info-drawer-tabs {
                height: 100%;

                .mat-tab-label {
                    color: mat-color($accent);
                    text-transform: none;
                    padding: 0 0px;

                    .mouseInteraction {
                        display: inline-flex;
                        flex-grow: 1;
                        height: 100%;
                        > * {
                            flex-grow:1;
                        }
                        .mat-icon-button {
                            color: mat-color($warn)!important;
                        }
                    }
                }

                .mat-tab-body-wrapper {
                    height: 100%;

                    .mat-tab-body {
                        height: 100%;
                        padding: 10px,0px,10px,0px;

                        .mat-tab-content {
                            height: 100%;
                            padding: 10px,0px,10px,0px;
                        }

                        .mat-tab-body-content {

                            adf-content-metadata-card {
                                height: 97%;

                                .mat-card {

                                    .mat-card-content {
                                        height: 93%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .adf-info-drawer-layout {
        box-shadow: none;

        .adf-info-drawer-layout-content {

            height: 100%;

            #info-drawer-content-editor {
                height: 95%;

                td-text-editor {

                    .CodeMirror {
                        min-height: 550px;
                        height: 550px;
                    }
                }
            }
        }
    }
}
