<adf-sidenav-layout [sidenavMin]="70" [sidenavMax]="200" [stepOver]="780" [hideSidenav]="false" [expandedSidenav]="true">

    <adf-sidenav-layout-header>
        <ng-template let-toggleMenu="toggleMenu">
            <mat-toolbar color="primary" class="adf-app-layout-toolbar mat-elevation-z6">
                <button mat-icon-button (click)="toggleMenu()">
                    <mat-icon>menu</mat-icon>
                </button>

                <span fxFlex="1 1 auto" fxShow fxHide.lt-sm="true">ADF</span>

                <div class="adf-toolbar--spacer"></div>

                <adf-toolbar-divider></adf-toolbar-divider>

                <app-theme-picker></app-theme-picker>

            </mat-toolbar>
        </ng-template>
    </adf-sidenav-layout-header>

    <adf-sidenav-layout-navigation>
        <ng-template let-isMenuMinimized="isMenuMinimized">
            <mat-nav-list class="adf-sidenav-linklist">

                <div class="sidenav-menu-label">
                    <adf-sidebar-action-menu title="Create" [expanded]="!isMenuMinimized()">
                        <mat-icon sidebar-menu-title-icon>arrow_drop_down</mat-icon>
                        <div sidebar-menu-expand-icon>
                            <mat-icon>queue</mat-icon>
                        </div>
                        <div sidebar-menu-options>
                            <button mat-menu-item (click)="createNotes()">
                                <mat-icon>create</mat-icon>
                                <span>Create Note</span>
                            </button>
                            <div mat-menu-item>
                                <adf-upload-button
                                    [tooltip]="'Importer'"
                                    [rootFolderId]="'-my-'"
                                    [adf-node-permission]="'create'"
                                    [multipleFiles]="true"
                                    acceptedFilesType=".rtf,.txt,.xml,.html"
                                    [uploadFolders]="false">
                                </adf-upload-button>
                            </div>
                        </div>
                    </adf-sidebar-action-menu>
                </div>

                <a mat-list-item class="adf-sidenav-link" routerLink="/login">
                    <mat-icon matListIcon class="sidenav-menu-icon">vpn_key</mat-icon>
                    <div class="sidenav-menu-label" *ngIf="!isMenuMinimized()">Login</div>
                </a>
                <a mat-list-item class="adf-sidenav-link" routerLink="/documentlist">
                    <mat-icon matListIcon class="sidenav-menu-icon">folder_open</mat-icon>
                    <div class="sidenav-menu-label" *ngIf="!isMenuMinimized()">Documents</div>
                </a>
                <a mat-list-item adf-logout class="adf-sidenav-link">
                    <mat-icon matListIcon class="sidenav-menu-icon">exit_to_app</mat-icon>
                    <div class="sidenav-menu-label" *ngIf="!isMenuMinimized()">Logout</div>
                </a>
            </mat-nav-list>
        </ng-template>
    </adf-sidenav-layout-navigation>

    <adf-sidenav-layout-content>
        <ng-template>
            <router-outlet></router-outlet>
        </ng-template>
    </adf-sidenav-layout-content>
</adf-sidenav-layout>
