<adf-sidenav-layout [sidenavMin]="70" [sidenavMax]="200" [stepOver]="780" [hideSidenav]="fullscreen" [expandedSidenav]="true">

    <adf-sidenav-layout-header>
        <ng-template let-toggleMenu="toggleMenu">
            <adf-layout-header [redirectUrl]="'/documentlist/root'" [logo]="logo" [showSidenavToggle]="false" [color]="'primary'">

                <h1 fxFlex="1 1 auto" fxShow fxHide.lt-sm="true">ADF-Notepad</h1>

                <button mat-icon-button matTooltip="{{'HEADER.BUTTON.MENU' | translate}}" (click)="toggleMenu()">
                        <mat-icon>menu</mat-icon>
                </button>

                <div class="adf-toolbar--spacer"></div>

                <adf-search-control [highlight]="true" (optionClicked)="onItemClicked($event)" (submit)="searchPageOpen($event)" (searchChange)="loadSearchPage($event)" #searchBar></adf-search-control>

                <div class="adf-header-delimiter"></div>

                <adf-userinfo
                    class="adf-app-layout-user-profile"
                    [menuPositionX]="'before'"
                    [menuPositionY]="'above'">
                </adf-userinfo>

                <adf-toolbar-divider></adf-toolbar-divider>

                <ng-container *ngIf="!production">

                    <app-theme-picker></app-theme-picker>

                    <button mat-icon-button matTooltip="{{'HEADER.BUTTON.LANGUAGE' | translate}}" [matMenuTriggerFor]="langMenu" >
                        <mat-icon>language</mat-icon>
                    </button>
                    <mat-menu #langMenu="matMenu">
                        <adf-language-menu></adf-language-menu>
                    </mat-menu>

                </ng-container>

                <button mat-icon-button matTooltip="{{'HEADER.BUTTON.LOGOUT' | translate}}" adf-logout class="adf-sidenav-link">
                    <mat-icon matListIcon class="sidenav-menu-icon">exit_to_app</mat-icon>
                </button>


            </adf-layout-header>
        </ng-template>
    </adf-sidenav-layout-header>

    <adf-sidenav-layout-navigation>
        <ng-template let-isMenuMinimized="isMenuMinimized">
            <mat-nav-list class="adf-sidenav-linklist">

                <div class="sidenav-menu-label">
                    <adf-sidebar-action-menu title="{{'SIDENAV.MENU.TITLE' | translate}}" [expanded]="!isMenuMinimized()">
                        <mat-icon sidebar-menu-title-icon>arrow_drop_down</mat-icon>
                        <div sidebar-menu-expand-icon>
                            <mat-icon>queue</mat-icon>
                        </div>
                        <div sidebar-menu-options>
                            <button mat-menu-item  matTooltip="{{ 'TOOLTIP.NEW_NOTE' | translate }}" matTooltipPosition="after" (click)="noteService.createNotes(true)">
                                <mat-icon>create</mat-icon>
                                <span>{{'SIDENAV.MENU.NOTE' | translate}}</span>
                            </button>
                            <div mat-menu-item>
                                <adf-upload-button
                                    matTooltip="{{ 'FILE_UPLOAD.BUTTON.UPLOAD_FILE' | translate }}"
                                    matTooltipPosition="after"
                                    [tooltip]="''"
                                    [rootFolderId]="uploadFolderId"
                                    [adf-node-permission]="'create'"
                                    [multipleFiles]="true"
                                    acceptedFilesType=",text,.rtf,.txt,.xml,.html"
                                    [uploadFolders]="false"
                                    (success)="noteService.success()">
                                </adf-upload-button>
                            </div>
                            <button mat-menu-item  matTooltip="{{ 'TOOLTIP.NEW_SITE' | translate }}" matTooltipPosition="after" (click)="nameSite()">
                                <mat-icon>create_new_folder</mat-icon>
                                <span>{{'SIDENAV.MENU.SITE' | translate}}</span>
                            </button>
                        </div>
                    </adf-sidebar-action-menu>
                </div>

                <div *ngFor="let site of sites">
                    <a mat-list-item class="adf-sidenav-link" (click)="navigateToSite(site.entry.id)">
                        <mat-icon matListIcon class="sidenav-menu-icon">folder_open</mat-icon>
                        <div class="sidenav-menu-label" *ngIf="!isMenuMinimized()">{{ site.entry.title }}</div>
                    </a>
                </div>

                <a mat-list-item class="adf-sidenav-link" routerLink="/trashcan" >
                    <mat-icon matListIcon class="sidenav-menu-icon">delete</mat-icon>
                    <div class="sidenav-menu-label" *ngIf="!isMenuMinimized()">Trashcan</div>
                </a>

            </mat-nav-list>
        </ng-template>
    </adf-sidenav-layout-navigation>

    <adf-sidenav-layout-content>
        <ng-template>
            <router-outlet></router-outlet>
        </ng-template>
    </adf-sidenav-layout-content>
</adf-sidenav-layout>
