<adf-toolbar>
  <adf-toolbar-title>
    <adf-breadcrumb
      class="files-breadcrumb"
      root="Personal Files"
      [target]="documentList"
      [folderNode]="documentList.folderNode">
    </adf-breadcrumb>
  </adf-toolbar-title>

  <div class="adf-toolbar--spacer"></div>

</adf-toolbar>

<div class="app-docsAndViewer">

  <div class="app-doc-list">
    <adf-upload-drag-area
      (success)="success($event,'uploaded')">
      <adf-document-list
        #documentList
        [currentFolderId]="myStartFolder"
        [contentActions]="true"
        (nodeClick)= "getNodeId($event)">

        <content-actions>

          <content-action
            icon="content_copy"
            target="document"
            title="Copier"
            permission="update"
            handler="copy"
            (execute)="success($event,'Copied')">
          </content-action>

          <content-action
            icon="subdirectory_arrow_left"
            target="document"
            title="Déplacer"
            permission="update"
            handler="move"
            (execute)="success($event,'Moved')">
          </content-action>

          <content-action
            icon="delete"
            target="document"
            title="Supprimer"
            permission="update"
            handler="delete"
            (execute)="success($event,'Deleted')">
          </content-action>

        </content-actions>

      </adf-document-list>
    </adf-upload-drag-area>
  </div>

    <adf-viewer
      [overlayMode]="false"
      [showViewer]="true"
      [nodeId]="nodeId">
    </adf-viewer>

</div>

<adf-file-uploading-dialog></adf-file-uploading-dialog>
