.app-docsAndViewer {
    display: flex;
    height: 88vh;
    overflow: hidden;

    app-file-view {
        flex-grow: 1;
        flex-shrink: 1;
        min-width: 50%;
    }

    .app-doc-list {
        overflow-y: scroll;
        overflow-x: hidden;
        flex-grow: 1;
        flex-shrink: 1;
        height: 100%;
        width: 100%
    }
}

.mat-button-toggle-group {
    box-shadow: none;
    mat-button-toggle {
        padding: 0 15px;
    }
}

.mat-button-toggle-disabled.mat-button-toggle-checked {
    background-color: whitesmoke;
}

.adf-toolbar-divider {
    margin-top: 6px;
}