<div class="app-docsAndViewer">

    <div class="app-doc-list">
      <adf-upload-drag-area
        acceptedFilesType=".rtf,.txt,.xml,.html"
        (success)="success($event,'uploaded')">

        <adf-toolbar>
            <adf-toolbar-title>
                <adf-breadcrumb
                [target]="documentList"
                [folderNode]="documentList.folderNode">
              </adf-breadcrumb>
            </adf-toolbar-title>
        </adf-toolbar>

        <adf-document-list
          #documentList
          [currentFolderId]="myStartFolder"
          [contentActions]="true"
          [rowFilter]="fileFilter"
          [allowDropFiles]="true"
          (nodeClick)= "getNodeId($event)"
          (ready)="ready()">

          <content-actions>

            <content-action
              icon="get_app"
              title="{{ 'ADF_VERSION_LIST.ACTIONS.DOWNLOAD' | translate }}"
              handler="download">
            </content-action>

            <content-action
              icon="gesture"
              title="{{ 'ADF_VERSION_LIST.ACTIONS.DOWNLOAD' | translate }}"
              permission="update"
              (execute)="rename($event)">
            </content-action>

            <content-action
              icon="content_copy"
              title="{{ 'NODE_SELECTOR.COPY' | translate }}"
              permission="update"
              handler="copy"
              (execute)="success($event,'Copied')">
            </content-action>

            <content-action
              icon="subdirectory_arrow_left"
              title="{{ 'NODE_SELECTOR.MOVE' | translate }}"
              permission="update"
              handler="move"
              (execute)="success($event,'Moved')">
            </content-action>

            <content-action
              icon="delete"
              title="{{ 'ADF_VERSION_LIST.ACTIONS.DELETE' | translate }}"
              permission="update"
              (execute)="success($event,'Deleted')">
            </content-action>

          </content-actions>

        </adf-document-list>

   <!--      <app-tag [nodeId]="nodeId"></app-tag>
 -->
        <adf-pagination
          [target]="documentList"
          *ngIf="notesNumber != 0">
        </adf-pagination>
      </adf-upload-drag-area>
    </div>

    <adf-toolbar-divider class="adf-toolbar-divider-doclist"></adf-toolbar-divider>

    <app-info-drawer (selectedIndexChange)="showTabs($event)" *ngIf="nodeId && !createNote">

      <app-info-drawer-tab icon="notes" label="Note">
          <div info-drawer-content id="info-drawer-content-editor">
            <app-text-editor [node]="node" (success)="success($event,'enregistrée')"></app-text-editor>
          </div>
      </app-info-drawer-tab>

      <app-info-drawer-tab icon="description" label="Propriétés">
        <adf-content-metadata-card [node]="node"></adf-content-metadata-card>
        <app-notepad-social [nodeId]="nodeId">
        </app-notepad-social>
      </app-info-drawer-tab>

      <app-info-drawer-tab icon="ballot" label="Versions">
        <mat-card>
          <mat-card-content>
            <adf-version-list [node]="node">
            </adf-version-list>
          </mat-card-content>
        </mat-card>
      </app-info-drawer-tab>

      <app-info-drawer-tab icon="comment" label="Commentaires" badge="{{ commentsNumber }}">
        <app-comments (commentsNumber)="getCommentsNumber($event)" [nodeId]="nodeId"></app-comments>
      </app-info-drawer-tab>

    </app-info-drawer>

    <adf-info-drawer-layout *ngIf="!nodeId && !createNote">
      <div info-drawer-content  class="empty-align">
        <adf-empty-content
          icon="waves"
          title="Veuillez sélectionner une note pour afficher ses informations"
          subtitle="Vous avez actuellement {{ notesNumber }} notes enregistrées">
        </adf-empty-content>
        <button class="createNote-button" mat-button (click)="createNotes()">
          <mat-icon>create</mat-icon>
          Créer une note
        </button>
      </div>
    </adf-info-drawer-layout>


    <adf-info-drawer-layout *ngIf="createNote && !nodeId">
      <div info-drawer-title>Edition de note</div>
      <div info-drawer-content id="info-drawer-content-editor">
        <app-text-editor (success)="success($event,'enregistrée')"></app-text-editor>
      </div>
    </adf-info-drawer-layout>

  </div>

  <adf-file-uploading-dialog></adf-file-uploading-dialog>
