.app-docsAndViewer {
    display: flex;
    height: 88vh;
    overflow: hidden;

    .adf-viewer {
        flex-grow: 1;
        flex-shrink: 1;
    }

    .app-doc-list {
        overflow-y: scroll;
        overflow-x: hidden;
        display: block;
        flex-grow: 1;
        flex-shrink: 1;
        max-width: 50%;
        height: 100%;
    }
}