<div class="inner-layout">

  <adf-toolbar>
      <adf-toolbar-title>
        <adf-breadcrumb root="Résultat de la recherche">
        </adf-breadcrumb>
      </adf-toolbar-title>
  </adf-toolbar>

  <div class="inner-layout__content">
      <div class="inner-layout__panel">
            <adf-document-list
                #documentlist
                [rowFilter]="nodeFilter"
                [node]="searchPaging"
                (nodeDblClick)= "goToFolder($event)">

                <data-columns>
                    <data-column key="icon" type="image" [sortable]="false"></data-column>

                    <data-column
                        title="ADF-DOCUMENT-LIST.LAYOUT.NAME"
                        key="name"
                        class="adf-data-table-cell--ellipsis__name">
                        <ng-template let-entry="$implicit">
                            <span>{{ entry.row.getValue('name') }}</span>
                        </ng-template>
                  </data-column>

                    <data-column key="path" type="location" title="ADF-DOCUMENT-LIST.LAYOUT.LOCATION" sorting="false"></data-column>

                    <data-column key="content.sizeInBytes" type="fileSize" title="ADF-DOCUMENT-LIST.LAYOUT.SIZE"></data-column>

                    <data-column key="modifiedAt" type="date" format="short" title="ADF-DOCUMENT-LIST.LAYOUT.MODIFIED_ON" >
                    </data-column>

                    <data-column key="modifiedByUser.displayName" title="ADF-DOCUMENT-LIST.LAYOUT.MODIFIED_BY"></data-column>
                </data-columns>

                <empty-folder-content>
                    <ng-template>
                        <ng-container *ngIf="data">
                            <div class="empty-search__block">
                                <p class="empty-search__text">
                                    {{ 'APP.BROWSE.SEARCH.NO_RESULTS' | translate }}
                                </p>
                            </div>
                        </ng-container>
                    </ng-template>
                </empty-folder-content>

            </adf-document-list>

        <adf-pagination [target]="documentlist">
        </adf-pagination>
      </div>
  </div>
</div>
